:root {
    --cor1:#00A2C4;
    --cor2:#E5BA1F;
    --cor3:#FF9100;
    --cor4:#FA824C;
    --cor4:#623CEA;
}


body{
    background-color: #1d2e31;
    font-family: "Poetsen One", sans-serif;]
    font-family: "Rubik", sans-serif;
}
